# Environment files
**/.env

# Node modules
**/node_modules/

# Build folders
**/dist/
**/build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Practice folder
Prisma - Postgre/